.button {
  cursor: pointer;

  width: 100%;
  padding: 6px 20px;

  font-size: 16px;
  font-weight: 600;
  color: #fff;

  background-color: #397df6;
  border: none;
  border-radius: 2px;

  transition: all 0.3s ease;
}

//.button:hover {
//  transform: translateY(-3px);
//  color: white;
//  background-color: #5991f9;
//}

.primary {
  color: #fff;
  background-color: #397df6;
}

.outline {
  color: #397df6;
  background-color: transparent;
}

.secondary {
  color: #333;
  background-color: #f6f6f6;
}
