@import '@/styles/variables.module';

.button {
  cursor: pointer;

  width: 100%;
  padding: 6px 24px;

  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: $light100;

  background-color: $accent500;
  border: none;
  border-radius: 2px;

  transition: all 0.3s ease;

  @media screen and (width <= 768px) {
    padding: 6px 12px;
    font-size: 14px;
  }
}

.button:hover {
  color: white;
  background-color: $accent700;
}

.primary {
  color: #fff;
  background-color: #397df6;
}

.outline {
  color: #397df6;
  background-color: transparent;
}

.secondary {
  color: #333;
  background-color: #f6f6f6;
}
