.cardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  width: 378px;
  min-height: 504px;

  border: solid 1px #333;
}
