.cardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  width: 378px;
  height: 504px;

  background-color: #171717;
  border: solid 1px #333;
}
