.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 80%;
  height: 80%;
  margin: -35px auto;
}

.textContainer {
  margin: 20px auto;
}

.buttonContainer {
  width: 20%;
  margin: 20px auto;
}
