.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 60px;
  padding: 12px 65px 12px 60px;

  border-bottom: 1px solid #3d3d3d;

  @media screen and (width <= 992px) {
    padding: 12px 24px;
  }

  @media screen and (width <= 768px) {
    padding: 12px 15px;
  }
}

.logo {
  cursor: pointer;
  font-size: 26px;

  @media screen and (width <= 768px) {
    font-size: 20px;
  }
}

.header_right {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: space-between;

  &_icon {
    margin-right: 25px;
  }

  &_mobile {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
  }

  @media screen and (width <= 768px) {
    gap: 10px;
  }
}

.LangSelect {
  margin-right: 10px;
}

.BurgerWrapper {
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: #e4000060;
}

.burgerList {
  cursor: pointer;

  position: absolute;
  top: 10vh;
  right: 30px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  min-height: 100px;
  padding: 20px;

  background-color: rgb(48 48 48);
  border: 1px solid rgb(192 192 192);

  li {
    margin: 0;
    padding: 0;
    list-style: none;

    &:hover {
      background: red;
    }
  }
}

body[data-theme='dark'] {
  .header_right_icon {
    svg {
      path {
        fill: white;
      }
    }
  }
}
