.LayoutContainer {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.LayoutHeader {
  position: fixed;
  z-index: 100;
  width: 100%;
  min-height: 10vh;
}

.LayoutWrapper_navBar_chiildren {
  display: flex;
  height: 100%;
  margin: 12vh 0;

  @media (width<=599px) {
    display: flex;
    flex-direction: column;
    margin: 8vh 0;
  }
}

.Layout_navbar {
  z-index: 99;

  overflow: hidden;

  width: 300px;
  padding-top: 40px;

  border-right: 1px solid #3d3d3d;

  @media (width <= 599px) {
    position: fixed;
    bottom: 0;

    display: flex;

    width: 100%;
    height: 7vh;
    padding-top: 0;

    border-top: 1px solid #3d3d3d;
  }
}

.Layout_children {
  overflow-y: auto;
  width: 100%;
  padding: 3vh 5% 10%;

  @media (width <= 599px) {
    padding-top: 5vh;
    padding-bottom: 25vh;
  }
}

.LayoutPublick {
  width: 100%;
}
