.inputGroup {
  margin-bottom: 1rem;
}

.inputField {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 4px;
  border: 1px solid  #4C4C4C;
  background-color: #333333;
  color: #8D9094;
}

.tittle{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: large;
  font-weight: 800;
}
