.googleAthIcon {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 50px;

  &:hover {
    background: rgb(36 36 36);
  }
}

.loginForm div {
  width: 100%;
  padding: 20px;
}

.loginForm p {
  color: red;
}

.inputField {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #4c4c4c;
  border-radius: 4px;
}

.tittle {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 15px;

  font-size: large;
  font-weight: 800;
}
.inputSubmit {
  width: 100%;
  background: #397df6;
  height: 50px;
  display: flex;
  justify-content: center;
  color: white;
  cursor: pointer;
  &::placeholder {
    color: white;
    text-indent: 140px;
  }
}
.inputSubmit:disabled {
  background-color: gray;
  cursor: not-allowed;
}
