@import './variables.module';

.loginForm {
  height: 100%;
  padding: 0 25px;
  background: $dark-500;

  p {
    color: red;
  }

  .tittle {
    margin: 25px 0 15px;

    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0;
  }

  .icons {
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;

    margin: 0 0 15px;
  }

  .googleAthIcon {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .gitHubAthIcon {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    fill: #f0f0f0;
  }

  .inputForms {
    display: flex;
    flex-direction: column;
    gap: 25px;

    .inputForm {
      width: 100%;

      .inputTitle {
        display: block;

        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        color: $light-900;
        text-align: left;

        &:last-child {
          margin-top: 35px;
          text-align: right;
        }
      }

      .inputContainer {
        position: relative;

        .eye {
          position: absolute;
          top: 50%;
          right: 10px;
          transform: translateY(-50%);

          fill: #f0f0f0;
        }
      }

      .inputField {
        width: 100%;
        padding: 6px;

        color: $light-900;

        background-color: $dark-500;
        border: 1px solid $dark-100;
        border-radius: 2px;
      }

      input::placeholder {
        color: $light-900;
      }
    }
  }

  .btnSignIn {
    margin: 25px 0 18px;
    padding: 0 6px;
  }

  .infoAccount {
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }

  .btnSignUp {
    margin-bottom: 30px;
    font-weight: 600;
    color: $primary-500;
  }
}
