.activeIcon * {
  fill: white !important;

  @media (width <= 676px) {
    fill: rgb(14 155 255) !important;
  }
}

.Navbar_list {
  display: flex;
  flex-direction: column;
  gap: 15px;

  margin-left: 20px;
  padding: 0 20px 0 10px;

  > *:last-child {
    margin-top: 30px;

    @media (width <= 599px) {
      margin-top: 0;
    }
  }

  @media (width <= 599px) {
    flex-direction: row;
    gap: 0;

    width: 100%;
    margin-left: 0;
    padding: 0;
  }
}

.Navbar_list_link {
  display: flex;
  gap: 7px;
  align-items: center;

  width: 100%;
  padding: 10px;

  border-radius: 12px;

  &:hover {
    // color: white;
    background: rgb(82 82 82 / 36.8%);
  }

  @media (width <= 599px) {
    justify-content: center;
    padding: 0;
    padding-left: 5px;
    border-radius: 0;
  }
}

.active {
  font-weight: 800;
  color: rgb(253 253 253) !important;
  background: rgb(49 49 49);

  @media (width <= 676px) {
    background: none !important;
  }
}

.LogOutLink {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-left: 10px;
}
