@import './variables.module';

.activeIcon * {
  fill: white !important;

  @media (width <= 676px) {
    fill: rgb(14 155 255) !important;
  }
}

.Navbar_list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;

  > *:nth-last-child(2) {
    margin-top: 50px;

    @media (width <= 768px) {
      margin-top: 0;
    }
  }

  > *:last-child {
    margin-top: 100px;

    @media (width <= 768px) {
      margin-top: 0;
    }
  }

  @media (width <= 768px) {
    flex-flow: row wrap;
    column-gap: 40px;
    align-items: center;
    justify-content: center;

    width: 100%;
    margin: 0;
  }
}

.Navbar_list_link {
  transform-origin: var(--popper-transform-origin) !important;
  transform: none !important;

  display: flex;
  gap: 15px;
  align-items: center;

  visibility: visible !important;
  opacity: 1 !important;
  border-radius: 12px;

  span {
    transform-origin: var(--popper-transform-origin) !important;
    transform: none !important;

    font-size: 14px;
    font-weight: 500;

    visibility: visible !important;
    opacity: 1 !important;
  }

  &:hover {
    // color: white;
    // background: rgb(82 82 82 / 36.8%);
  }

  @media (width <= 599px) {
    justify-content: center;
    padding: 0;
    padding-left: 5px;
    border-radius: 0;
  }
}

.active {
  svg {
    path {
      fill: $accent500 !important;
    }
  }

  span {
    font-weight: 700;
    color: $accent500;

    svg {
      fill: $accent500 !important;
    }
  }

  @media (width <= 676px) {
    background: none !important;
  }
}

.LogOutLink {
  display: flex;
  gap: 15px;
  align-items: center;

  font-size: 14px;
  font-weight: 500;

  // margin-left: 10px;
}
