.publickWrapper {
  display: grid;
  justify-content: center;

  margin-top: 30px;
  padding: 0px 3%;
  padding-top: 15vh;
}

.Registered {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 3%;

  border: 1px solid #242424;

  p {
    font-size: 1.5rem;
    font-weight: 700;
  }

  @media screen and (width <= 768px) {
    p {
      font-size: 1.5em;
    }
  }

  @media screen and (width <= 480px) {
    p {
      font-size: 0.5em;
    }
  }
}

.registered_people {
  display: flex;
  align-items: center;

  height: 70px;
  padding: 0;

  font-size: 30px;
  font-weight: 700;
  list-style: none;

  border: 1px solid #242424;

  @media screen and (width <= 768px) {
    /* Исправлено условие медиа-запроса */
    font-size: 20px;
  }
}

.registered_people li {
  display: inline-block;

  width: 30px;
  margin-left: 20px;
  padding: 6px 0;

  border-right: 3px solid #242424;

  &:last-child {
    margin-right: 15px;
    border-right: none;
  }

  @media screen and (width <= 768px) {
    /* Исправлено условие медиа-запроса */
    width: 30px;
    margin-left: 10px;
  }
}

/* Остальной код остается без изменений */
.publickPhoto {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(234px, 1fr));
  gap: 15px;

  margin-top: 50px;
  padding-bottom: 120px;
}
