.registration-container {
  display: flex;
  flex-direction: column;
  gap: 4rem; /* Adjust as needed */
  align-items: center;
  justify-content: center;
}

.inputField {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
}

.error-message {
  margin-top: 5px;
  color: red;
}

.success-message {
  margin-top: 5px;
  color: green;
}

.notification {
  position: fixed;
  top: 10px;
  right: 10px;

  padding: 10px;

  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
}
