// styles/globals.scss
$background-color-dark: #0d0d0d;
$text-color-dark: #8c9094;
$btn-outline-hover-dark: #397df6;
$btn-outline-text-color-dark: #397df6;
$btn-text-color-dark: #fff;
$btn-background-dark: #397df6;
$background-gray-dark: #171717;
$background-gray-outline-dark: #333;
$background-color-light: #fff;
$text-color-light: #000;
$btn-outline-hover-light: #397df6;
$btn-outline-text-color-light: #397df6;
$btn-text-color-light: #fff;
$btn-background-light: #397df6;
$background-gray-light: #f0f0f0;
$background-gray-outline-light: #ccc;
