$background-color: #0d0d0d;
$text-color: #fff;
$btn-outline-hover: #397df6;
$btn-outline-text-color: #397df6;
$btn-text-color: #fff;
$btn-background: #397df6;
$background-gray: #171717;
$background-gray-outline: #333;
$light-background-color: #fff;
$light-text-color: #000;
